@using smarthouse.Services;
@using smarthouse.Modles;
@using smarthouse.Commands;

@inject DeviceService deviceservice;
@inject CommandService commandservice;
@inject CommunicationService comunicationService;




<div class= "card-columns">
@foreach (var device in deviceservice.GetDevices())
{
    <div class="card-img" style="background-image: url('https://www.self-build.co.uk/wp-content/uploads/2018/10/Smart-home-systems-UK-Worthy-exterior.jpg')"></div>
    <div class = "card-body"> <h5 class = "card-title"> @device.Name </h5></div>
    <div class="card-footer" >
        <small class = "text-muted">
            <button @onclick = "(e => sendCommand(device.Id))" 
                data-toggle = "modal" data-target = "#deviceModal" class="btn btn-primary"> turn on</button>
        </small>
    </div>

}
</div>

@code {
    Device selectedDevice;
    string selectedDeviceID;

    void sendCommand(string DeviceID){
        selectedDevice = deviceservice.GetDeviceByID(DeviceID);
        OnCommand command = new OnCommand (comunicationService,selectedDevice);
        commandservice.ExecuteCommand(command);
    }



}