@page "/"

<PageTitle>Home</PageTitle>

<h1>build your own Smartohuse!</h1>

Wellcome to your very own smarthouse! all you need to do is set up your devices and configure them in the devices.json file and you can control them from here!

<DeviceList></DeviceList>
