/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
  for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
  opacity: 1;
  -webkit-transform-style: preserve-3d;
}

.card-columns .card-body {
  height: 100px;
  font-family: "Nunito", sans-serif;
  background: #c0c0c0;
}

.card-columns .card-img-container {
  height: 200px;
  vertical-align: middle;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: 0.8;
}

.card-columns .card-img {
  height: 200px;
  width: 200px;
  vertical-align: middle;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  opacity: 0.8;
}

.modal .card-img {
  height: 500px;
  vertical-align: middle;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns .card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(37, 33, 82, 0.12),
    0 4px 8px rgba(37, 33, 82, 0.06);
}
.card-footer {
  background: #b1b1b1;
}
.card-title {
  font-size: large;
  font-family: "Courier New", Courier, monospace;
}
