


@inject DeviceServiceWrapper deviceService
@inject ICommunicationService comunicationService
@inject ICommandService commandService

@rendermode InteractiveServer


<div>
    <TurnOnButton DeviceId=@DeviceId ></TurnOnButton>
    <TurnOffButton DeviceId=@DeviceId ></TurnOffButton>
</div>



@code {

    [Parameter]
    public string DeviceId{get;set;} ="1";

    async Task TurnDeviceOn(){
        Device device = deviceService.GetDeviceByID(DeviceId);
        ISmarthouseCommand command = new OnCommand( comunicationService,device);
        await commandService.ExecuteCommand(command);

    }

}