


@inject DeviceServiceWrapper deviceService
@inject ICommunicationService comunicationService
@inject ICommandService commandService

@rendermode InteractiveServer



<button class="btn btn-primary" @onclick="TurnDeviceOn">Turn Off</button>


@code {

    [Parameter]
    public string DeviceId{get;set;} ="1";

    async Task TurnDeviceOn(){
        Device device = deviceService.GetDeviceByID(DeviceId);
        ISmarthouseCommand command = new OffCommand( comunicationService,device);
        await commandService.ExecuteCommand(command);
        
    }

}